{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-actions">
        <button class="btn btn-primary">{{ button_label|default('product.update_product' | trans ) }}</button>
        <a href="{{ path('app_product_index') }}" class="btn btn-tertiary">{{ 'product.back_to_list' | trans }}</a>
    </div>
{{ form_end(form) }}
