{% extends 'base.html.twig' %}

{% block title %}{{ 'products.title' | trans }}{% endblock %}

{% block body %}
    <h1 class="title"><span><img src="{{ asset('img/icons/icon-stick.png') }}" alt="title-icon"></span>{{ 'products.goodies' | trans }}</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="admin-actions">
            <a class="btn btn-primary" href="{{ path('app_product_new') }}">{{ 'product.add_product' | trans }}</a>
        </div>
    {% endif %}

    <section class="list-products">
        {% for product in products %}
            <div class="card-product">
                {% if product.photo is not null %}
                <img src="{{ asset('uploads/'~ product.photo) }}" alt="{{ product.name }} image" class="card-product__img">
                {% else %}
                    <img src="{{ asset('uploads/placeholder.png') }}" alt="{{ product.name }} placeholder" class="card-product__img">
                {% endif %}
                <div class="card-product__content">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.price|number_format(2, ',', ' ') }} {{ 'product.currency' | trans }}</p>
                    {% if product.stock > 0 %}
                        <h5>{{ 'product.stock' | trans }}: {{ product.stock }}</h5>
                    {% else %}
                        <h5>{{ 'product.out_of_stock' | trans }}</h5>
                    {% endif %}

                    <div class="card-product__content__links">
                        <a href="{{ path('app_add_to_cart', {'productId': product.id}) }}" class="btn btn-primary">{{ 'product.add_to_cart' | trans }} <i class="fa-solid fa-cart-plus"></i></a>
                        <a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-secondary">{{ 'product.show_product' | trans }}</a>
                    </div>
                </div>

            </div>
        {% else %}
            <p>{{ 'products.empty' | trans }}</p>
        {% endfor %}
    </section>
{% endblock %}
