{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}

{% block body %}
    <h1 class="title"><span><img src="{{ asset('img/icons/icon-stick.png') }}" alt="title-icon"></span>Goodies</h1>

    <section class="d-flex justify-content-around m-auto">
        {% for product in products %}
            <div class="card p-3">
                <img src="{{ asset('uploads/'~ product.photo) }}" alt="{{ product.name }}" style="width: 250px;">
                <h3>{{ product.name }}</h3>
                <p>{{ product.price }} €</p>
                {% if product.stock > 0 %}
                    <a href="{{ path('app_add_to_cart', {'productId': product.id}) }}" class="btn btn-primary">Add to cart</a>
                {% else %}
                    <p>Out of stock</p>
                {% endif %}

            </div>
        {% else %}
            <p>No products found</p>
        {% endfor %}
    </section>

    {% if is_granted('ROLE_ADMIN') %}
        <h2>Add Product</h2>
        <a class="btn btn-primary" href="{{ path('app_product_new') }}">Create new</a>
    {% endif %}

{% endblock %}
