{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}

{% block body %}
    <h1 class="title"><span><img src="{{ asset('img/icons/icon-stick.png') }}" alt="title-icon"></span>Goodies</h1>

    <section class="list-products">
        {% for product in products %}
            <div class="card-product">
                <img src="{{ asset('uploads/'~ product.photo) }}" alt="{{ product.name }} image" class="card-product__img">
                <div class="card-product__content">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.price }} €</p>
                    {% if product.stock > 0 %}
                        <h5>Stock: {{ product.stock }}</h5>

                        <div class="card-product__content__links">
                            <a href="{{ path('app_add_to_cart', {'productId': product.id}) }}" class="btn btn-primary">Add to cart</a>
                            <a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-secondary">Show Product</a>
                        </div>
                    {% else %}
                        <p>Out of stock</p>
                    {% endif %}

                </div>

            </div>
        {% else %}
            <p>No products found</p>
        {% endfor %}
    </section>

    {% if is_granted('ROLE_ADMIN') %}
        <h2>Add Product</h2>
        <a class="btn btn-primary" href="{{ path('app_product_new') }}">Create new</a>
    {% endif %}

{% endblock %}
