{% extends 'base.html.twig' %}

{% block title %}Product {{ product.name }}{% endblock %}

{% block body %}
    <h1 class="title"><span><img src="{{ asset('img/icons/icon-stick.png') }}" alt="title-icon"></span>Goodie</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="admin-actions">
            {{ include('product/_delete_form.html.twig') }}
        </div>
    {% endif %}

    <div class="product">
        <div class="product__img">
            <img src="{{ asset('uploads/'~ product.photo) }}" alt="{{ product.name }} image">
        </div>

        <div class="product__content">
            {% if is_granted('ROLE_ADMIN') %}
                <p>( Product id : {{ product.id }} )</p>
            {% endif %}
            <h2 class="subtitle"><span><img src="{{ asset('img/icons/icon-lollipop-white.png') }}" alt="title-icon"></span>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <h3>{{ product.price|number_format(2, ',', ' ') }} €</h3>
            {% if product.stock == 0 %}
                <h4>Out of stock</h4>
            {% else %}
                <h4>Current stock : {{ product.stock }}</h4>
            {% endif %}
            <div class="product__content__actions">
                {% if is_granted('ROLE_USER') %}
                    {% if product.stock > 0 %}
                        <a href="{{ path('app_add_to_cart', {'productId': product.id}) }}" class="btn btn-secondary">Add to cart <i class="fa-solid fa-cart-plus"></i></a>
                    {% endif %}
                {% endif %}
                <a href="{{ path('app_product_index') }}" class="btn btn-tertiary">Back</a>
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}


        {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}
    {% endif %}
{% endblock %}
